:root {
  --black: #000;
  --dark-gray: #333;
  --gray: #777;
  --light-gray: #ddd;
  --white: #fff;
  --navbar-height: 70px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--white);
  color: var(--black);
}

nav {
  background: var(--dark-gray);
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

nav a {
  color: var(--white);
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: var(--light-gray);
}

main {
    padding-top: var(--navbar-height);
}

section {
  min-height: 100vh;
  padding: 100px 20px 20px;
  background: var(--white);
  color: var(--black);
}

footer {
  background-color: var(--dark-gray);
  color: var(--white);
  text-align: center;
  padding: 1em;
  position: static;
  width: 100%;
  bottom: 0;
}
