:root {
    --white: #ffffff;
    --light-gray: #c0bfbf;
    --gray: #8f8e8e;
    --dark-gray: #333333;
    --black: #000000;
    --navbar-height: 65px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    background-color: var(--light-gray);
    cursor:default;
    min-height: 100vh;
    color: var(--dark-gray);
}

nav {
    background: linear-gradient(to top, var(--light-gray), var(--gray));
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

nav a {
    color: var(--white);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--light-gray);
}

section {
    scroll-margin-top: var(--navbar-height);
    background: var(--light-gray);
    color: var(--black);
    min-height: 100vh;
}

.section-content {
    background: linear-gradient(to bottom, var(--light-gray), var(--gray), var(--light-gray));
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1a1a1a;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

footer {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: center;
    padding: 1em;
    width: 100%;
}

@media (max-width: 767px) {
    :root {
        --white: #ffffff;
        --light-gray: #111111;
        --gray: #222222;
        --dark-gray: #111111;
        --black: #000000;
    }

    body {
        background-color: var(--black) !important;
        color: var(--white) !important;
    }

    nav {
        background: linear-gradient(to top, var(--black), var(--gray)) !important;
    }

    .navbar-toggler-icon {
        filter: invert(100%);
    }

    nav a {
        color: var(--white) !important;
    }

    nav a:hover {
        color: var(--light-gray) !important;
    }

    section {
        background: var(--black) !important;
        color: var(--white) !important;
    }

    footer {
        background: var(--gray) !important;
        color: var(--white) !important;
    }

    * {
        background-color: transparent;
        color: inherit;
    }
}